{{- if .Values.password }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-redis
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: redis
    app.kubernetes.io/instance: {{ .Release.Name }}
type: Opaque
data:
  redis-password: {{ .Values.password | b64enc | quote }}
{{- end }}
