image:
  repository: redis
  tag: "7.4-alpine"
  pullPolicy: IfNotPresent

password: ""

persistence:
  enabled: true
  size: 1Gi
  storageClass: ""

service:
  type: ClusterIP
  port: 6379

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

maxmemoryPolicy: allkeys-lru
